header{
    padding-top: 6%;
    padding-bottom: 5px;
}
body{
    background:#3f6781;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    
}
nav{
    background-color: #ffffff;
    background-position: 0 0;
    background-size: 75px;
    padding-top: 20px;
    padding-bottom: 2px;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100;
    box-shadow: 0 0 10px -4px #000;
}
.topo-da-pagina{
    margin-top: 4%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    padding: auto;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    margin-right: 20px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    text-align: right;
    margin-top:auto;
    margin-right: auto;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.imagem{
    margin-left: 15%;
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
    margin-bottom: auto;
    margin-top: 5px;
}
.sites{
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
}
.paginaprincipal{text-decoration: none; margin-right: 50px;}
.doacao{text-decoration: none; margin-right: 50px;}
.contatos{text-decoration: none; margin-right: 50px;}
.instagram {text-decoration: none; margin-right: 50px;}
.youtube{text-decoration: none; margin-right: 50px;}

footer{
    margin-top: 38px;
    background-position: 0 0;
    background-color: #2a485c;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -200px;
    margin-left: -95px;
    margin-right: -95px;
}

.social_finalpg{
    align-items: center;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
}

.agradecimento{
    float: right;
    position: center;
    width: 40%;
    text-align: justify;
    margin-top: 4%;
    
}

.results{
    margin-top: 10%;
}
.botao{
    position: relative;
    margin-top: 50px;
    
}
h1{
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}